<!-- Before using with REPLACE [YOUR_NAME] another name -->

<div id="[YOUR_NAME]" ng-controller="[YOUR_NAME]">
        <form>
            <table class="w3-table-all">
                <tr>
                    <td style="width: 15%">Tên</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="title" name="title">
                    </td>
                </tr>
                <td>Ghi chú</td>
                <td>
                    <textarea class="w3-input w3-border" type="text" ng-model="content" name="content"></textarea>
                </td>
                </tr>
            </table>
            <button class="w3-button w3-right w3-blue w3-round w3-margin" type="button" ng-click="create()">Tạo khách hàng</button>
        </form>
    </div>
    <script>
        var obj_create_note = {
            source: "", //define source your using
            id: ""  //id with support
        }
        app.controller("[YOUR_NAME]", function($scope, $http, $interval, $timeout) {
            $scope.create = function(id) {
                let obj = {
                    title: $scope.title,
                    content: $scope.content,
                    source: obj_create_note.source,
                    sourceId: id
                }
                $http.post("/notes", obj).then((a) => {
                    console.log(e);
                }).catch((e) => {
                    console.log(e);
                })
            }
        });
    </script>